<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>ESB Zero</display-name>
	<servlet>
		<description>The admin JSP</description>
		<servlet-name>admin</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>admin</servlet-name>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>com.artofarc.esb.servlet.ESBServletContextListener</listener-class>
	</listener>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>File download</web-resource-name>
			<url-pattern>/admin/deploy/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>TRACE</http-method>
			<http-method>HEAD</http-method>
			<http-method>OPTIONS</http-method>
			<http-method>CONNECT</http-method>
		</web-resource-collection>
	</security-constraint>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Admin console</web-resource-name>
			<url-pattern>/admin/*</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>File upload</web-resource-name>
			<url-pattern>/admin/deploy/*</url-pattern>
			<http-method>POST</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>esb0admin</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>ESB0</realm-name>
	</login-config>
	<security-role>
		<description>ESB0 admin</description>
		<role-name>esb0admin</role-name>
	</security-role>
</web-app>
